<h1>Task</h1>

<li><%= @task.title %> - <%= @task.details %> - <%= @task.completed %></li>
<%= link_to "Back", tasks_path %>
<%= link_to "Edit", edit_path(@task) %>
<%= link_to "Delete", delete_path(@task), method: :delete, data: { confirm: 'Are you sure?' } %>
